body {
    color: #ffffff;
    background-color: #000000 !important;
    font-family: "Times New Roman", sans-serif;

}

h1 {
    font-size: 64px !important;
    text-align: center !important;
    padding: 10px !important;
}

h2 {
    position: relative;
    z-index: 10;
    text-shadow: 4px 4px 2px #808080 !important;
    font-size: 32px !important;
}

p {
    font-size: 24px !important;
    padding-top: 15px !important;
}

img {
    width: 550px;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    /* fix this */
}

div {
    min-height: 150px !important;
    padding: 25px !important;
    /* fix this */
}

 #red {
    background-color:#ff0000;
    text-align: right;
}

#blue {
    background-color: #0000ff;
    text-align: left;
}

#yellow {
    background-color: #FFFF00;
    text-align: right; 
}

#yellow h2 {
    text-shadow: 4px 4px 2px #c7e2c7;
    color: #000000;
}

#yellow p{
    color: #000000;
}

#green {
    background-color:#008000;
    text-align: left;
}

footer p{
    text-align: center;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
}



